*/__pycache__/
.pytest_cache
*/sample.db
*.db
*/secret.py
*/secrets.py
*/secrets.json
*/secrets_backup.json
*/testsender.py
.DS_Store
*.pyc
*.log
.Python
.pytest_cache/
bin/
duo/secrets_backup.json
include/
lib/
pip-selfcheck.json
bot/facebook/config/default.json
bot/telegram/config/default.json
node_modules
